/* HTML ELEMENTS */
body {
  font-family: Helvetica;
  max-width: 60%;
  margin: auto;
  padding-top: 30px;
}
img {
  width: 230px;
  height: 175px;
  overflow: hidden;
  object-fit: fill;
  margin: 0;
}
button {
  border-radius: 8px;
  font-size: 10pt;
  border: none;
  margin-bottom: 8px;
}
button:hover {
  color: white;
}
p {
  font-size: 12pt;
  margin: 0;
}
h3 {
  font-size: 24pt;
  font-weight: normal;
  letter-spacing: -1.5px;
  text-align: center;
}
input {
  width: 250px;
  border: none;
  background: #f1f1f1;
  height: 30px;
  margin: 5px;
}
textarea {
  width: 494px;
  height: 100px;
  border: none;
  padding-left: 1px;
  background: #f1f1f1;
}
select {
  font-size: 10pt;
  width: 100px;
}
h4 {
  font-size: 13pt;
  padding: auto;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  font-size: 16pt;
  padding-right: 30px;
}
a:hover {
  border-top: 2px solid black;
  color: #ff6666;
}

/* CLASS ELEMENTS */
.nav-bar {
  text-align: right;
  color: black;
  border-bottom: 1px solid black;
}
.user-events {
  font-size: 10pt;
}
.rsvp-attendees {
  font-size: 12pt;
  margin: 0;
  letter-spacing: 0;
}
.event-name {
  font-size: 18pt;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
}
.event-card {
  display: inline-grid;
  width: 200px;
  height: 400px;
  padding-right: 50px;
  text-align: center;
  border: 1px #e6e6e6 solid;
  padding-left: 25px;
}
/* .description {
  overflow: scroll;
} */
.details {
  text-align: left;
  background-color: #F9F9F9;  
  position: absolute;
  z-index: 50;
  transform: translate(100px,50px);
  width: 300px;
  letter-spacing: 2px;
  padding: 20px;
  height: 400px;
  border: 1px gray solid;
}
.detail-key {
  text-transform: uppercase;
  color: #ebb16e;
}
.delete:hover {
  background-color: #ff6666;
}
.delete {
  background-color: white;
  width: 150px;
}
.button-resizing {
  padding: 20px;
  margin-right: 20px;
}

/* FORMS */
.new-event-form {
  margin: auto;
  display: inline-block;
  /* padding-left: 300px; */
  max-width: 500px;

}
.login-form{
  text-align: center;
  padding-top: 50px;
}

/* CALENDAR */
.calendar {
  width: 700px;
  margin: 0 auto;
  font-size: 10px;
  clear: both;
}
.fc-event-time{
  display : none;
}
.fc-daygrid-event-dot {
  display: none;
}
.fc-event-title {
  font-size: 6pt;
  overflow: scroll;
  text-decoration: none;
  color: black;
  background-color: #ebb16e;
}
.fc-header-title h2 {
  font-size: .9em;
  white-space: normal !important;
}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
  font-size: 0;
  overflow: hidden;
  height: 2px;
}
.fc-view-agendaWeek .fc-event-vert {
  font-size: 0;
  overflow: hidden;
  width: 2px !important;
}
.fc-agenda-axis {
  width: 20px !important;
  font-size: .7em;
}
.fc-button-content {
  padding: 0;
}


/* FLEXBOX but not*/
.user-card {
  max-width: 100%
}
.profile-info {
  margin: 0 auto;
  padding-right: 0;
  width: 100%;
  clear: both;
  display: table;
  content: "";
}
.profile-pic {
  border-radius: 50px;
  height: auto;
  width: 200px;
  padding-right: 15px;
  float: left;
  padding-left: 300px;
}
.user-hosting-events {
  display: flex;
}
.edit-form {
  position: absolute;
  z-index: 1;
  transform: translate(200px,-80px);
  background-color: #ebb16e;
  opacity:1;
  animation: fadeInOut 3s linear forwards;
  font-size: 16pt;
  width: 500px;
}
.edit-profile-button {
  width: 100px;
}
@keyframes fadeInOut {
  0% { opacity:1; }
  50% { opacity:1; } 
  100% { opacity:.90; } 
 }